
<h2 class="text-center mt-3 ">Mata Pelajaran yang tersedia</h2>

<!-- apabila variabel nilai tidak kosong atau ditemukan 1 documentation tentang user sedang login di collection nilai maka jalankan if, bila nilai kosong maka jalankan else if -->
<% if (nilai!='') { %>
  <div class="d-flex flex-row mt-3 ">
  <% quiz.forEach((element) => { %>
    <% nilai.forEach((result) => { %>


      <div class="card ml-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= element.nama_mapel %> </h5>
      
          <form action="/quiz/start" class="mt-3"   method="post">
            <input type="hidden" name="id_mapel" value= <%= element.id_mapel %>> 
    
            <!-- mencocokkan/mencari apakah ada _id di collection soal_jawabs/Quiz dengan id_mapel di collection nilais/Nilai dengan id user yang sedang login. Apabila cocok maka button disabled, yang artinya user hanya bisa satu kali mengerjakan soal itu  -->
            <% if (element._id==result.id_mapel) { %>
              <h6 class="card-subtitle mb-2 text-muted">Sudah anda kerjakan</h6>
              <button type="submit" class="btn btn-primary" disabled ><%=element.nama_mapel %> </button>
            <% } else{%>
              <h6 class="card-subtitle mb-2 text-muted">Belum anda kerjakan</h6>
              <button type="submit" class="btn btn-primary"  ><%=element.nama_mapel %> </button>
            <% } %>
          </form>
        </div>
      </div>


    <% }) %>
    <% }) %>
  </div>
<% }else if(nilai=='') { %>
  <div class="d-flex flex-row mt-3 ">
  <% quiz.forEach((element) => { %>
    <div class="card ml-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= element.nama_mapel %> </h5>
    <form action="/quiz/start" class="mt-3" method="post">
      <input type="hidden" name="id_mapel" value= <%= element.id_mapel %>> 
      <h6 class="card-subtitle mb-2 text-muted">Belum anda kerjakan</h6>
      <button type="submit" class="btn btn-primary"  ><%=element.nama_mapel %> </button>
    </form>
    </div>
    </div>
    <% }) %>
  </div>
  <% } %>
